.main-section {
    background-image: url("../Images/Bus-image.png");
    background-size:cover;
    background-repeat: no-repeat;
}

.main-section{
    margin-top: 60px;
}
.main-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,
            rgba(0, 60, 130, .85),
            rgba(0, 120, 220, .35),
            rgba(255, 255, 255, .55));
}

.main-content {
    position: relative;
    z-index: 1;
}

.journey {
    font-size: 65px;
}

.journey span {
    color: #00aaff;
}

.feature-icon {
    width: 58px;
    height: 58px;
}

.login-card {
    background: rgba(255, 255, 255, .96);
    border: 1px solid #b9d8ff;
    border-radius: 16px;
    margin: 27px 0px 10px 0px;
}

.bus-logo {
    font-size: 33px;
}

.role-btn {
    height: 45px;
}

.login-input {
    height: 45px;
}

.login-button {
    height: 48px;
}
.input-group:focus-within .input-group-text {
    border-color: #0d6efd;
}
.input-group {
    border: 1px solid #dee2e6;
    border-radius: 6px;
}

.input-group:focus-within {
    border: 1px solid #0d6efd;
}

.input-group:focus-within .form-control,
.input-group:focus-within .input-group-text {
    border-color: transparent !important;
    box-shadow: none !important;
}


@media screen and (max-width: 810px) {
    .left-section {
        display: none;
    }

    .login-card {
        max-width: 600px;
        margin: 30px auto;
    }
}

@media screen and (min-width:0) and  (max-width: 510px) {
   #createacc{
    font-size: 12px;
   }
}